@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: #eb2324;
  --red-orange: #ec3c23;
  --orange: #f5a117;
  --orange-light: #fab814;
}

img {
  object-fit: cover;
}

.micro {
  height: 2.5rem;
}

.dropdown ul {
  display: flex;
  flex-direction: column;
}

.dropdown ul li {
  display: flex;
  flex-direction: column;
}

.dropdown ul li {
  position: relative;
  display: flex;
  flex: 1 1 100%;
}
.dropdown ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 1rem 0;
  background-color: #272d2d;
}
.dropdown ul li:hover ul {
  width: 5rem;
  display: flex;
  flex-direction: column;
}

.dropdown .category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.dropdown a .arrow-up {
  transition: transform 250ms ease-in-out;
}

.dropdown a:hover .arrow-up {
  transform: rotate(180deg);
}

.card {
  height: 24rem;
  width: 20rem;
}

.footer {
  background-color: rgba(245, 161, 23, 0.4);
  backdrop-filter: blur(1rem);
}

input[type="text"] {
  width: 12rem;
}

@media (min-width: 768px) {
  input[type="text"] {
    width: 100%;
  }
}
.page_404 {
  padding: 40px 0;
  background: #fff;
}
.page_404 img {
  width: 100%;
}
.four_zero_four_bg {
  background-image: url(404.gif);
  background-repeat: no-repeat;
  height: 400px;
  background-position: center;
}

.contant_box_404 {
  margin-top: -50px;
}

.login {
  background-image: url("loginbackground.jpg");
  background-size: cover;
  height: 100vh;
}

.login form {
  background-color: rgba(0, 0, 0, 0.1);
}

.login input {
  width: 100%;
}
